body
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;   
    
}

header
{
    background-color:#1f2937;
    color: white;
    padding:30px 200px 30px 200px;
    
}
.header
{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}
.logo
{
    font-size: 24px;
    color: white; 
    ;
}
a
{
    text-decoration:none;
    color: white;
}
.class_1
{
    font-weight: bold;
    font-size: 30px;
}
ul
{
    list-style: none;
    color: white;
    display: flex;
    margin: 0px;
    gap:20px;
}

.section-two-header
{
    display: flex;
    justify-content: space-between;
    color: white;
}
.Button_Sing_Up
{
    background-color: #3882f6;
    font-size: 10x;
    border: 5px solid #3882f6;
    border-radius: 8px;
    color: white
}
.body_title
{
    margin: 100px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;

}
.info img
{
    height: 200px;
    width: 200px;
}
.container_for_infos
{
    margin: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 200px;
    justify-content: center;
}
.info
{
    
    max-width: 200px;
}